head{
    color : whitesmoke;
background-color: chocolate;}

h1{
    color :whitesmoke;
    background-color: black;
}
blockquote{
    color : black;
    background-color: aqua;
}
h3{
    color : gold;
    background-color: black;
}
body{background-color:aliceblue
    ;}
h2{
    color:burlywood;
    background-color: black;
}